body
{
    margin:0px;
}
.main
{  
   background-color:#d6d5d563  ;
   padding: 20px 0px;
   position: relative;
   top:0;
   left:0;
   font-size: 16px;
   text-align: center;
   z-index: 1;
   font-family:CircularStd-Black; 
}   
.main span
{ 
  color: #222222;
  margin: 1px;
}
.main a
{
  color: black;
}
    .header
    {
        margin-top:3%;
        background: white;
        position: sticky;
        top:0;
        padding-bottom:1px;
    }
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10%;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  position: sticky;
  top: 0px;

}

.header-left {
  display: flex;
  align-items: left;
 
}

.header-left .text{
    opacity:50%;
}
.header-left button {
  border: none;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  cursor: pointer;
}

.header-left .search-btn img {
  width: 20px;
  height: 20px;
}

.header-right button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 50%; /* add circular border */
  border: 2px solid #ccc; /* add border color */
  width: 30px; /* added width */
  height: 30px; /* added height */
}

.header-right .filter-btn img {
  width: 20px;
  height: 20px;
}

.header-right .filter-btn .filter-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navigation bar */
.nav 
{
    background-color: white;
    position: sticky;
    top: 61px;
    padding-top: 1px;;
}
.navbar-container {
  position: relative;
  overflow: hidden;
  margin:2%;
  
 
  
}
.navbar-item{
    opacity: 50%;
}
.navbar-item:hover
{
    opacity: 100%;
}
.navbar-wrapper {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.navbar {
  display: flex;
  background-color: #ffffff;
  position: sticky;
  top:10px;
 
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item img {
  width: 30px;
  height: 30px;
}

.navbar-item span {
  margin-top: 8px;
}


.navbar-container:hover .navbar {
  transform: translateX(-40px);
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* header for large screen */
.large-screen
{
    
    display: flex;
    flex-direction: row;
    border:  1px solid #ccc;
    padding: 1px;
    background: rgb(235, 235, 235);
    position:sticky;
    top:0px;
    z-index: 1;
    overflow: hidden;
    
}
.center
{
    opacity: 60%;
    
}
.center:hover
{
    opacity: 100%;
}

.logo img
{
  margin: 10% 40%;
  width: 100px;
  margin-top: 15px;
 
}

.center 
{
  align-items: center;
  display: flex;
  margin-left:380px;
  justify-content: center;
  overflow: hidden;
}


.curve-border   /*the header middle group button's section*/
{
border-radius: 50px;
border:  1px solid #ccc;
padding-right: 10px;
display: flex;
width: 315px;
height: 35px;
position: relative;
overflow: hidden;
}
.curve-border button  /*the header middle group button*/
{
border:none;
padding:8px 17px;
cursor: pointer;
}
/* pseudo */

/*we've added two pseudo-elements to the .button-group element using the ::before and ::after selectors. 
  We've positioned the pseudo-elements using position: absolute,
  and set their top and bottom values to match the padding of the button group.
  We've used the left property to position the first pseudo-element between the first and second buttons, 
  and the second pseudo-element between the second and third buttons .
  We've set the width property of both pseudo-elements to 1px to create vertical lines, 
  and we've given them a background-color of black to make them visible. */

.curve-border::before,
.curve-border::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 1px;
  background-color: black;
}

.curve-border::before {
   left: calc(26% + 5px); /* using the calc() function to calculate the correct position */
  opacity: 40%;
}

.curve-border::after {
  left: calc(54% + 5px);
  opacity: 40%;
}
/*end  pseudo */
.curve-border img
{
width: 35px;
margin: px ;
cursor: pointer;
}

.right  /* the right side buttons iin the header*/
{
display: flex;
}
 .right p
{
 text-decoration: none;
 margin-left: 200px;
 cursor: pointer;
} 


.right #globe
{
width: 20px;
height:20px;
cursor: pointer;
margin-left: 10px;
margin-top: 15px;
}

.right .icon-group 
{
display: flex;
align-items: center;
border: 1px groove #777676;
border-radius:40px;
margin-top: 10px ;
margin-left: 27%;
cursor: pointer;
position:absolute;
}

 
.icon-group img
{
width:25px; 
padding: 1px 2px;

}
/* grid vs flex base styles */


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3%;
}
.flex-item {
  flex-basis: 24%;
  height: 300px;
  margin-bottom: 20%;

}

.flex-item img
{
    width:100%;
    height:100%;
    border-radius: 5%;
}


/* footer */
.big-screen {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin:0px 0px;
    font-size: 18px;
    position:sticky;
    bottom: 0;
    border:  1px  #ccc;
  }
  
  .footer-left {
    margin-right: 10px;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .footer-arrow {
    margin-left: 5px;
    cursor: pointer;
  }

  /* small footer */
 
 
  

  /* responsive */
@media only screen and (min-width: 744px) 

{
   .mobile-header
   {
    display: none;;
   }

 
    .navbar-container 
    {
        margin-left: 5%;
        margin-right:15%;
        opacity: 50%;
    }
    .navbar
        {
                display: flex;
                transition: transform 0.3s ease-out; 
        }

        .navbar-overlay
         {
                position: absolute;
                top: 0;
                right: -2px;
                width: 20px;
                height: 100%;
                background: linear-gradient(to right, transparent, white);
         } 
        
         .navbar-button
            {
       
            display:flow-root;
            position: sticky;
            float:right;
            margin:1%;
            margin-top: -6%;
            margin-right: 3%;
            }

            .navbar-button img 
            {
                width:30%;
                height:100%;
            }
            .navbar-buttons
           {
            position: sticky;
            float:right;
            margin-top: 1%;
            margin-right: -1%;
            position: absolute;
           }
            #img 
           {
            width:5%;
            height:100%;
            padding:8px;
            margin-top: -9%;
            padding-top:.1%;
            padding-bottom: .1%;
            padding-left:-3%;
            padding-right: -2%;
            border-radius: 35%;
            border:1px groove;
            float: right;
        } 

        footer {
            background-color: #f2f2f2;
            padding: 20px;
            position: sticky;
            bottom: 0;
          }
          
          .icon-container {
            display: flex;
            justify-content: center;
          }
          
          .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 20px;
          }
          
          .icon img {
            width: 30px;
            height: 30px;
            opacity: 0.5;
            transition: opacity 0.3s ease;
          }
          
          .icon:hover img {
            opacity: 1;
          }
          
          .icon p {
            margin-top: 10px;
            text-align: center;
          }
            /*  */
          
       }

       @media only screen and (max-width: 946px) 
        {
           
            
          
            .navbar-button
            {
       
            display:flow-root;
            position: sticky;
            float:right;
            margin:1%;
            margin-top: 6%;
            margin-right: 2%;
            align-items:center;
            }

            .navbar-button img 
            {
                width:30%;
                height:100%;
                position: absolute;
            }
            .navbar-buttons
           {
            position: sticky;
            float:right;
            margin-top: 1%;
            margin-right: -1%;
            position: absolute;
            align-items:center;
           }
            #img 
           {
            width:5%;
            height:100%;
            padding:8px;
            margin-top: -9%;
            padding-top:.1%;
            padding-bottom: .1%;
            padding-left:-3%;
            padding-right: -2%;
            border-radius: 35%;
            border:1px groove;
            float: right;
        } 
           /* .small-screen
           {
            display: none;
           } */

        }
            @media only screen and (max-width: 743px) 
            {
                .navbar-button img
                {
                    display:none;
                }
                .navbar-buttons img
                {
                    display:none;
                }
                .large-screen
                    {
                        display:none;
                    }

                
            }
            
            /*  */

            @media only screen and (max-width: 1128px) 
        {
            .navbar-button
            {
       
            display:flow-root;
            position: sticky;
            float:right;
            margin-top: -7.5%;
            margin-right: 5%;
            position:relative;
            align-items:center;
            }

            .navbar-button img 
            {
                width:40%;
                height:100%;
            }
           
           .navbar-buttons
           {
            position: sticky;
            float:right;
            margin-top: 1%;
            margin-right: 3%;
           
           }

           #img 
           {
            width:5%;
            height:100%;
            padding:8px;
            padding-top:.1%;
            padding-bottom: .1%;
            padding-left:-1%;
            padding-right: -2%;
            border-radius: 25%;
            border:1px groove;
            position: relative;
        }
        .icon-container
        {
          display:none;
        }

       

     
    }
    @media only screen and (max-width: 1400px) 
        {
            .navbar-button
            {
       
            display:flow-root;
            position: sticky;
            float:right;
            margin-top: -5.5%;
            margin-right: 5%;
            position:relative;
            }

            .navbar-button img 
            {
                width:40%;
                height:100%;
            }
           
           .navbar-buttons
           {
            position: sticky;
            float:right;
            margin-top: 1%;
            margin-right: 3%;
           
           }

           #img 
           {
            width:5%;
            height:100%;
            padding:8px;
            padding-top:.1%;
            padding-bottom: .1%;
            padding-left:-1%;
            padding-right: -2%;
            border-radius: 25%;
            border:1px groove;
            position: relative;
        }
        .icon-container
        {
          display:none;
        }
      
    }
        
    @media only screen and (max-width: 1128px) 
{

    .center
{
  align-items: center;
  margin-left: 25%;
}

.right p
{
  margin-left:40px;
}

.right #globe
{
  margin: left 1px;;
}
.right .icon-group
{
  margin-left: 21%;
}


  .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-item {
    flex-basis: 32%;
    margin-bottom: 17%;
  }
  .icon-container
  {
    display:none;
  }
}





@media only screen and (max-width: 743px) 

{
  
    .flex-container {
    flex-wrap: nowrap;
  } 
  .flex-item {
    flex-basis: 51%;
    
   }  

   .big-screen
   {
    display: none;
   }
   
}


@media only screen and (max-width: 946px) 
{

    .large-screen .center
   {
   
  align-items: center;
  display: flex;
  margin-left:50px;
  justify-content: center;
  overflow: hidden;
  
   }
   
   .curve-border  /*the header middle group button's section*/
   {
    padding-right: 5px;
    width:300px;
    
   }
   .curve-border button  /*the header middle group button*/
        {
        border:none;
        padding:8px 15px;
        cursor: pointer;font-size: 12px;
        }

.right  /* the right side buttons iin the header*/
    {
    display: flex;
    }
 .right p
    {
    text-decoration: none;
    margin-left: 10px;

    } 




.right .icon-group 
    {
    display: flex;
    align-items: center;
    border: 1px groove #777676;
    border-radius:40px;
    margin-top: 10px ;
    margin-left: 23%;
    cursor: pointer;
    position:absolute;
    }

 
.icon-group img
    {
    width:25px; 
    padding: 1px 2px;

    }


  
  .flex-container
 {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-item {
    flex-basis: 46.9%;
    margin-bottom: 30%;

  }
  .icon-container
  {
    display:none;
  }
}
@media only screen and (min-width: 946px) 
{

 .mobile-header
 {
    display:none;
 }
}

@media only screen and (max-width: 550px) {
    .main
    {
      display: none;
    }
    
    #block
    {
        padding-bottom: 5px;
    }
    .flex-container {
      flex-direction: column;
     bottom: 5%;
      font-size: 25px;
    }
  
    .large-screen
    {
      display: none;
    }
    .flex-container {
      flex-direction: column;
    }
  
    .flex-item {
      flex-basis: 100%;
    }
    .flex-item {
      flex-basis: 50%;
      padding-bottom: 5px;
    }
     .big-screen
    {
        display: none;
    }

    footer {
        background-color: #f2f2f2;
        padding: 20px;
        position: sticky;
        bottom: 0;
      }
      
      .icon-container {
        display: flex;
        justify-content: center;
      }
      
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
      }
      
      .icon img {
        width: 30px;
        height: 30px;
        opacity: 0.5;
        transition: opacity 0.3s ease;
      }
      
      .icon:hover img {
        opacity: 1;
      }
      
      .icon p {
        margin-top: 10px;
        text-align: center;
      }
      
}